/* src/styles/ImageTrack.css */


/* Image Track */
.image-track {
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  gap: 20px;
  height: 100%;
  box-sizing: border-box;
  padding-right: 50vw;
}

.image-track.grabbing {
  cursor: default;
}

.image-track > :not(.profileFrame) {
  grid-column: auto;
}

/* Left Text */
.left-text {
  color: white;
  font-size: 5vh;
  padding-right: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  font-family: "Odin";
  white-space: pre-line;
  text-align: center;
}

/* Image Items */
.image-item {
  display: grid;
  position: relative;
  transform-origin: center;
  transition: all 0.3s ease-in;
  gap: 20px;
  justify-items: center;
  perspective: 1000px;
  cursor: pointer;
}

.image-item a {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  pointer-events: none; /* Override the pointer-events: none from img */
}

.image-item img {
  width: 20vw;
  height: 70vh;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 1vmin;
  transition: all 0.3s ease-out;
  position: relative;
  backface-visibility: hidden;
  user-select: none;

  /* Avoiding Image Dragging */
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  pointer-events: none;
}

.image-item:hover img {
  width: 30vw;
  cursor: pointer;
}

.image-track[data-dragging="true"] .image-item:hover img {
  width: 20vw;
  cursor: pointer;
}

/* Text Overlay */
.text-overlay {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Space Mono", monospace;
  position: absolute;
  color: rgb(0, 255, 0);
  font-size: 2vw;
  font-weight: bold;
  z-index: 2;
  padding: 1px 6px;
  background-color: transparent;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Text Colors */
.text-overlay[data-text="discord"] {
  color: var(--discord-color);
}
.text-overlay[data-text="gamebanana"] {
  color: var(--gamebanana-color);
}
.text-overlay[data-text="patreon"] {
  color: var(--patreon-color);
}
.text-overlay[data-text="steam"] {
  color: var(--steam-color);
}
.text-overlay[data-text="github"] {
  color: var(--github-color);
}
.text-overlay[data-text="pinterest"] {
  color: var(--pinterest-color);
}

/* Hover states for all platforms */
.image-item:hover .text-overlay {
  background-color: rgb(0, 0, 0);
}

/* Reset background when dragging */
.image-track[data-dragging="true"] .image-item:hover .text-overlay {
  background-color: transparent;
}

/* Profile Frame */
.profileFrame {
  overflow: visible;
  bottom: 1%;
  object-fit: cover;
  width: 0.001vw;
  height: 20vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease;
}

.image-item:hover .profileFrame {
  width: 20vw;
  opacity: 1;
  transition: opacity, width 0.3s ease;
}

.image-track[data-dragging="true"] .image-item:hover .profileFrame {
  width: 0vw;
  opacity: 0;
}

/* Steam Frame */
.steamFrame {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  overflow: hidden;
  width: 0.001vw;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  bottom: 10%;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.image-item:hover .steamFrame {
  width: 20vw;
  max-width: 330px;
  opacity: 1;
  transition: opacity, width 0.3s ease;
}

.image-track[data-dragging="true"] .image-item:hover .steamFrame {
  width: 0.001vw;
  opacity: 0;
}

/* Animations */
@keyframes unblur {
  from {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

.image-track-container,
.image-track,
.image-item {
  animation: unblur 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
