/* src/components/InfoPopup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  animation: overlayFadeIn 0.3s forwards;
}

.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: rgba(37, 40, 46, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: 1001;
  backdrop-filter: blur(10px);
  animation: boxFadeIn 0.3s forwards;
}

.popup-content {
  user-select: none;
  position: relative;
  padding: 20px;
  color: white;
}

.header-text {
  font-family: "Odin", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: -20px;
  color: #ffffff;
}

.credit-text {
  font-size: 1.1em;
  line-height: 1.6;
  color: #cccccc;
}

.credit-container {
  font-family: "Odin", sans-serif;
  list-style: none;
  padding: 2vmin;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #cccccc;
}

.artists-button-text {
  color: #2a7aef;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.artists-button-text:hover {
  color: #525dea;
}

.artists-details {
  position: relative;
  transform: translateY(1vh);
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.artists-details.show {
  display: block;
  opacity: 1;
  animation: boxFadeInNT 0.3s forwards;
}

.artists-details a {
  font-family: "Odin", sans-serif;
  white-space: pre;
  color: #ffffff;
  text-decoration: none;
}

.artists-details a:hover {
  text-decoration: underline;
}

/* Animations */
@keyframes boxFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes boxFadeInNT {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
